@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root{
    --font01: Verdada , "Press Start 2P" , system-ui;
    --font02: "VT323", monospace; 
}


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html , body {
    min-height: 100vh;
    background-color: #C5CCD9;
}

header {
    background-color: #070A40;
    color: white;
    text-align: center;
   font-size: 1em;
}

header > h1 {
    padding-top: 50px;
    font-size: 6vh;
    font-variant:small-caps;
    font-family: var(--font01);
    font-style: normal;
    
}
header > p {
    padding-bottom: 50px;
}

header a , footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover ,  footer a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.9em;
    padding-left: 10px;
    font-size: 3.7vh;
    font-family: var(--font02);
}
section.normal {
    background-color: white;
    color: black;
    padding-left: 20px;
}

section.imagem {
    background-color: #1D2173;
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.649);
    background-size: cover;
    background-attachment: fixed;

    
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.362);
    padding: 6px;
    text-shadow: 1px 1px 0px black;
    display: inline-block;
    width: 50vh;
}
section#imagem01 {
    background-image: url(imagens/imagem01.jpg);
    background-position: center center;
}

section#imagem02 {
    background-image: url(imagens/imagem04.jpg);
    background-position: center center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 3vh;
}