@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/
body {
    background-color: #b0e5c671;
}
h1 {
    color: #41554A;
}
h1#principal {
    background-color: #90BBA2;
    color: white;
    text-align: center;
}
h2 {
    color: #43574b;
}
.basico {
    color: #3C8C56;
    font-weight: bold;
}
.intermediario {
    color: #918145;
}
.avancado {
    color: #A64E4C;
}
.destaque {
    color: #3C8C56;
    font-weight: bold;
}